In [140]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [141]:
dataset_train = pd.read_excel(r'C:\Users\LENOVO\Desktop\Projet\Dataset\train_data.xlsx')
dataset_test = pd.read_excel(r'C:\Users\LENOVO\Desktop\Projet\Dataset\test_data.xlsx')

In [142]:
dataset_train

             A  B
0          All  O
1         live  O
2       births  O
3            >  O
4           or  O
...        ... ..
48495  vaccine  T
48496        :  O
48497        a  O
48498   second  O
48499     look  O

[48500 rows x 2 columns]

In [143]:
dataset_test

                 A  B
0      Furthermore  O
1              NaN  O
2             when  O
3              all  O
4       deliveries  O
...            ... ..
19668     globulin  T
19669          for  O
19670    recurrent  D
19671  spontaneous  D
19672     abortion  D

[19673 rows x 2 columns]

In [144]:
dataset_train.isna().sum()

A    4082
B    2598
dtype: int64

In [145]:
dataset_test.isna().sum()

A    1603
B    1055
dtype: int64

In [146]:
dataset_train.dropna(inplace=True)

In [147]:
dataset_test.dropna(inplace=True)

In [148]:
print("Number of tags: {}".format(len(dataset_train.B.unique())))
frequencies = dataset_train.B.value_counts()
frequencies

Number of tags: 3

O    38268
D     3432
T     2718
Name: B, dtype: int64

In [149]:
X = dataset_train.drop("B",axis =1)
y = dataset_train["B"]

In [150]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size = 0.3)

In [151]:
X_train

               A
34088         no
34317    Primary
2381          in
32434        the
25027         in
...          ...
44222        the
31341      March
15413  glutamine
36930    overall
37027   silicone

[31092 rows x 1 columns]

In [152]:
Y_train

34088    O
34317    D
2381     O
32434    O
25027    O
        ..
44222    O
31341    O
15413    O
36930    O
37027    O
Name: B, Length: 31092, dtype: object